name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - 18
          - 20
          - 21
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install Dependencies
        run: yarn install
      - name: Lint
        run: yarn lint
      - name: Types
        run: yarn types
      - name: Test
        run: yarn test --coverage
      - name: Coveralls
        if: matrix.node == '18'
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}